<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-icon name="list"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img  src="../../assets/img/logo.png" class="logo">
    <ion-buttons slot="primary">
      <ion-button routerLink="/homepage/profile">
        <ion-icon name="person-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <ion-searchbar></ion-searchbar>
    <img  src="../../assets/img/image1.jpg" style="width: 90%;">
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-button routerLink="/homepage/branch">Booking</ion-button>
    <ion-button routerLink="/homepage/bookinglist">Booking List</ion-button>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <h1>What's new?</h1>
  </ion-grid>
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <img  src="../../assets/img/mov1.jpg" class="movpic">
      </ion-col>
      <ion-col>
        <img  src="../../assets/img/mov2.jpg" class="movpic">
      </ion-col>
      <ion-col>
        <img  src="../../assets/img/mov3.jpg" class="movpic">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img  src="../../assets/img/mov4.jpg" class="movpic">
      </ion-col>
      <ion-col>
        <img  src="../../assets/img/mov5.jpg" class="movpic">
      </ion-col>
      <ion-col>
        <img  src="../../assets/img/mov6.jpg" class="movpic">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


