ion-toolbar {
    --background: #F3A712;
};

ion-content{
    --background: #29335C;
};
ion-searchbar{
    --background:#92949c;
}

.movpic{
    width: 100px;
    height: 150px;
}

.logo{
    display: block;
    width:100px;
    height:80px;
    margin-left: auto;
    margin-right: auto;
}