ion-item{
    --color: rgb(69, 69, 69);
    margin:10px auto;
}
ion-toolbar {
    --background: #F3A712;
};

ion-content{
    --background: #29335C;
};

ion-button{
    --background: #DB2B39;
    border-radius: 50px;
};