<ion-header>
  <ion-toolbar>

    <!-- <ion-buttons slot="start">
      <ion-icon name="list"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img  src="../../assets/img/logo.png" class="logo">
    <ion-buttons slot="primary">
      <ion-button routerLink="/homepage/profile">
        <ion-icon name="person-circle" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-text-center">
    <div class="booklist">
      <h3>SCREEN</h3>
    </div>
  </ion-grid>

  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>A1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>A2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>A3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>A4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>B1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>B2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>B3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>B4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>C1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>D1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>D2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>D3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>D4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>E1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>E2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>E3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>E4</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button>F1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>F2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>F3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>F4</ion-button>
    </ion-col>
  </ion-row>

  <ion-button class="submitBtn" color="danger" routerLink="/homepage/branch/cart/bookings">Submit</ion-button>


</ion-content>

