ion-toolbar {
    --background: #F3A712;
};

ion-content{
    --background: #29335C;
};
img{
    display: block;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
h4{
    margin-left: 15px;
    font-size: 16px;
};
ion-item{ 
    --background: #5e5e5e;
};
.redBtn{
    --background: #DB2B39;
};
 