ion-toolbar {
    --background: #F3A712;
};

ion-content{
    --background: #29335C;
    margin-top: 20px;

};

ion-button{
    --background: #DB2B39;
};
ion-icon{
    --background: #29335C;
};
ion-item{
    margin-top: 20px;
};